<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit profile</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="employee_home.html"><span><img src="../img/unza.png" alt="Unza logo" height="35" width="35" style="padding-bottom:5px"></span> Contract Renewal Reminder</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.blade.php"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            
                        </li>
                        <li>
                            <a href="employee_home.html"><i class="fa fa-home fa-fw"></i> Home</a>
                        </li>
                        <li>
                            <a href="employee_calendar.html"><i class="fa fa-calendar fa-fw"></i> Calendar</a>
                        </li>
                        <li class="divider" role="presentation"> </li>
                        <li class="divider" role="presentation"> </li>
                        <li>
                            <a href="employee_help.html"><i class="fa fa-question fa-fw"></i> Help</a>
                        </li>
                        <li>
                            <a href="employee_about.html"><i class="fa fa-files-o fa-fw"></i> About</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"> Tetsu (123456)</div>
                        
                        <div class="panel-body">
                            <div class="col-md-6">
                                <form role="form">
                                
                                    <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control" name="first_name" placeholder="Kagami">
                                </div>

                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control" name="middle_name" placeholder="Tiger">
                                </div>

                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" name="last_name" placeholder="Akashi">
                                </div>

                                <div class="form-group">
                                    <label>User Name</label>
                                    <input class="form-control" name="user_name" placeholder="Tetsu">
                                </div>

                                <div class="form-group">
                                    <label> Department</label>
                                    <select name="position" name="department" class="form-control">
                                        <option value="">-- select one --</option>
                                        <option> Contracts Officer</option>
                                        <option> Dean of School/option>
                                        <option> Academic Staff</option>
                                        <option> Support Staff</option>
                                    </select>
                                </div>

                                
                                <div class="form-group">
                                    <label>Position</label>
                                    <select name="position" class="form-control">
                                        <option value="">-- select one --</option>
                                        <option> Contracts Officer</option>
                                        <option> Dean of School/option>
                                        <option> Academic Staff</option>
                                        <option> Support Staff</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>E-mail Address</label>
                                    <input class="form-control" placeholder="ttobias@unza.zm">
                                </div>

                                <div class="form-group">
                                    <label>Nationality</label>
                                        <select name="nationality" class="form-control">
                                          <option value="">-- select one --</option>
                                          <option value="afghan">Afghan</option>
                                          <option value="albanian">Albanian</option>
                                          <option value="algerian">Algerian</option>
                                          <option value="american">American</option>
                                          <option value="andorran">Andorran</option>
                                          <option value="angolan">Angolan</option>
                                          <option value="antiguans">Antiguans</option>
                                          <option value="argentinean">Argentinean</option>
                                          <option value="armenian">Armenian</option>
                                          <option value="australian">Australian</option>
                                          <option value="austrian">Austrian</option>
                                          <option value="azerbaijani">Azerbaijani</option>
                                          <option value="bahamian">Bahamian</option>
                                          <option value="bahraini">Bahraini</option>
                                          <option value="bangladeshi">Bangladeshi</option>
                                          <option value="barbadian">Barbadian</option>
                                          <option value="barbudans">Barbudans</option>
                                          <option value="batswana">Batswana</option>
                                          <option value="belarusian">Belarusian</option>
                                          <option value="belgian">Belgian</option>
                                          <option value="belizean">Belizean</option>
                                          <option value="beninese">Beninese</option>
                                          <option value="bhutanese">Bhutanese</option>
                                          <option value="bolivian">Bolivian</option>
                                          <option value="bosnian">Bosnian</option>
                                          <option value="brazilian">Brazilian</option>
                                          <option value="british">British</option>
                                          <option value="bruneian">Bruneian</option>
                                          <option value="bulgarian">Bulgarian</option>
                                          <option value="burkinabe">Burkinabe</option>
                                          <option value="burmese">Burmese</option>
                                          <option value="burundian">Burundian</option>
                                          <option value="cambodian">Cambodian</option>
                                          <option value="cameroonian">Cameroonian</option>
                                          <option value="canadian">Canadian</option>
                                          <option value="cape verdean">Cape Verdean</option>
                                          <option value="central african">Central African</option>
                                          <option value="chadian">Chadian</option>
                                          <option value="chilean">Chilean</option>
                                          <option value="chinese">Chinese</option>
                                          <option value="colombian">Colombian</option>
                                          <option value="comoran">Comoran</option>
                                          <option value="congolese">Congolese</option>
                                          <option value="costa rican">Costa Rican</option>
                                          <option value="croatian">Croatian</option>
                                          <option value="cuban">Cuban</option>
                                          <option value="cypriot">Cypriot</option>
                                          <option value="czech">Czech</option>
                                          <option value="danish">Danish</option>
                                          <option value="djibouti">Djibouti</option>
                                          <option value="dominican">Dominican</option>
                                          <option value="dutch">Dutch</option>
                                          <option value="east timorese">East Timorese</option>
                                          <option value="ecuadorean">Ecuadorean</option>
                                          <option value="egyptian">Egyptian</option>
                                          <option value="emirian">Emirian</option>
                                          <option value="equatorial guinean">Equatorial Guinean</option>
                                          <option value="eritrean">Eritrean</option>
                                          <option value="estonian">Estonian</option>
                                          <option value="ethiopian">Ethiopian</option>
                                          <option value="fijian">Fijian</option>
                                          <option value="filipino">Filipino</option>
                                          <option value="finnish">Finnish</option>
                                          <option value="french">French</option>
                                          <option value="gabonese">Gabonese</option>
                                          <option value="gambian">Gambian</option>
                                          <option value="georgian">Georgian</option>
                                          <option value="german">German</option>
                                          <option value="ghanaian">Ghanaian</option>
                                          <option value="greek">Greek</option>
                                          <option value="grenadian">Grenadian</option>
                                          <option value="guatemalan">Guatemalan</option>
                                          <option value="guinea-bissauan">Guinea-Bissauan</option>
                                          <option value="guinean">Guinean</option>
                                          <option value="guyanese">Guyanese</option>
                                          <option value="haitian">Haitian</option>
                                          <option value="herzegovinian">Herzegovinian</option>
                                          <option value="honduran">Honduran</option>
                                          <option value="hungarian">Hungarian</option>
                                          <option value="icelander">Icelander</option>
                                          <option value="indian">Indian</option>
                                          <option value="indonesian">Indonesian</option>
                                          <option value="iranian">Iranian</option>
                                          <option value="iraqi">Iraqi</option>
                                          <option value="irish">Irish</option>
                                          <option value="israeli">Israeli</option>
                                          <option value="italian">Italian</option>
                                          <option value="ivorian">Ivorian</option>
                                          <option value="jamaican">Jamaican</option>
                                          <option value="japanese">Japanese</option>
                                          <option value="jordanian">Jordanian</option>
                                          <option value="kazakhstani">Kazakhstani</option>
                                          <option value="kenyan">Kenyan</option>
                                          <option value="kittian and nevisian">Kittian and Nevisian</option>
                                          <option value="kuwaiti">Kuwaiti</option>
                                          <option value="kyrgyz">Kyrgyz</option>
                                          <option value="laotian">Laotian</option>
                                          <option value="latvian">Latvian</option>
                                          <option value="lebanese">Lebanese</option>
                                          <option value="liberian">Liberian</option>
                                          <option value="libyan">Libyan</option>
                                          <option value="liechtensteiner">Liechtensteiner</option>
                                          <option value="lithuanian">Lithuanian</option>
                                          <option value="luxembourger">Luxembourger</option>
                                          <option value="macedonian">Macedonian</option>
                                          <option value="malagasy">Malagasy</option>
                                          <option value="malawian">Malawian</option>
                                          <option value="malaysian">Malaysian</option>
                                          <option value="maldivan">Maldivan</option>
                                          <option value="malian">Malian</option>
                                          <option value="maltese">Maltese</option>
                                          <option value="marshallese">Marshallese</option>
                                          <option value="mauritanian">Mauritanian</option>
                                          <option value="mauritian">Mauritian</option>
                                          <option value="mexican">Mexican</option>
                                          <option value="micronesian">Micronesian</option>
                                          <option value="moldovan">Moldovan</option>
                                          <option value="monacan">Monacan</option>
                                          <option value="mongolian">Mongolian</option>
                                          <option value="moroccan">Moroccan</option>
                                          <option value="mosotho">Mosotho</option>
                                          <option value="motswana">Motswana</option>
                                          <option value="mozambican">Mozambican</option>
                                          <option value="namibian">Namibian</option>
                                          <option value="nauruan">Nauruan</option>
                                          <option value="nepalese">Nepalese</option>
                                          <option value="new zealander">New Zealander</option>
                                          <option value="ni-vanuatu">Ni-Vanuatu</option>
                                          <option value="nicaraguan">Nicaraguan</option>
                                          <option value="nigerien">Nigerien</option>
                                          <option value="north korean">North Korean</option>
                                          <option value="northern irish">Northern Irish</option>
                                          <option value="norwegian">Norwegian</option>
                                          <option value="omani">Omani</option>
                                          <option value="pakistani">Pakistani</option>
                                          <option value="palauan">Palauan</option>
                                          <option value="panamanian">Panamanian</option>
                                          <option value="papua new guinean">Papua New Guinean</option>
                                          <option value="paraguayan">Paraguayan</option>
                                          <option value="peruvian">Peruvian</option>
                                          <option value="polish">Polish</option>
                                          <option value="portuguese">Portuguese</option>
                                          <option value="qatari">Qatari</option>
                                          <option value="romanian">Romanian</option>
                                          <option value="russian">Russian</option>
                                          <option value="rwandan">Rwandan</option>
                                          <option value="saint lucian">Saint Lucian</option>
                                          <option value="salvadoran">Salvadoran</option>
                                          <option value="samoan">Samoan</option>
                                          <option value="san marinese">San Marinese</option>
                                          <option value="sao tomean">Sao Tomean</option>
                                          <option value="saudi">Saudi</option>
                                          <option value="scottish">Scottish</option>
                                          <option value="senegalese">Senegalese</option>
                                          <option value="serbian">Serbian</option>
                                          <option value="seychellois">Seychellois</option>
                                          <option value="sierra leonean">Sierra Leonean</option>
                                          <option value="singaporean">Singaporean</option>
                                          <option value="slovakian">Slovakian</option>
                                          <option value="slovenian">Slovenian</option>
                                          <option value="solomon islander">Solomon Islander</option>
                                          <option value="somali">Somali</option>
                                          <option value="south african">South African</option>
                                          <option value="south korean">South Korean</option>
                                          <option value="spanish">Spanish</option>
                                          <option value="sri lankan">Sri Lankan</option>
                                          <option value="sudanese">Sudanese</option>
                                          <option value="surinamer">Surinamer</option>
                                          <option value="swazi">Swazi</option>
                                          <option value="swedish">Swedish</option>
                                          <option value="swiss">Swiss</option>
                                          <option value="syrian">Syrian</option>
                                          <option value="taiwanese">Taiwanese</option>
                                          <option value="tajik">Tajik</option>
                                          <option value="tanzanian">Tanzanian</option>
                                          <option value="thai">Thai</option>
                                          <option value="togolese">Togolese</option>
                                          <option value="tongan">Tongan</option>
                                          <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                                          <option value="tunisian">Tunisian</option>
                                          <option value="turkish">Turkish</option>
                                          <option value="tuvaluan">Tuvaluan</option>
                                          <option value="ugandan">Ugandan</option>
                                          <option value="ukrainian">Ukrainian</option>
                                          <option value="uruguayan">Uruguayan</option>
                                          <option value="uzbekistani">Uzbekistani</option>
                                          <option value="venezuelan">Venezuelan</option>
                                          <option value="vietnamese">Vietnamese</option>
                                          <option value="welsh">Welsh</option>
                                          <option value="yemenite">Yemenite</option>
                                          <option value="zambian">Zambian</option>
                                          <option value="zimbabwean">Zimbabwean</option>
                                        </select>
                                </div>

                                <div class="form-group">
                                    <label>Residential Address</label>
                                    <input class="form-control" placeholder="37HC, Ibex Hill, off Twin Palm road, Lusaka">
                                </div>

                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input class="form-control" placeholder="+260 0987654321">
                                </div>

                                <div class="form-group">
                                    <a href="#" class="btn btn-link" role="button" data-toggle="collapse" data-target="#demo">Change password?</a>
                                </div>
                                    <div id="demo" class="collapse">
                                        <div class="form-group">
                                            <label>Enter Old Password</label>
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Enter New Password</label>
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                        </div>

                                        <div class="form-group">
                                            <label>Confirm New Password</label>
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                        </div>
                                    </div>

                                        <!--Research on how to compare passwords entered in these fields-->

                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
                                        <button type="reset" class="btn btn-default">Cancel</button>
                                    </div>
                                    
                                </form>
                            </div>
                            <!-- /.col-md-6-->
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
